[data-theme="light"] {
  --color-primary: theme("colors.orange.600");
  --color-secondary: theme("colors.blue.600");
  --color-text: theme("colors.gray.900");
  --color-text-offset: theme("colors.gray.600");
  --color-background: hsl(140,13%,90%);
  --color-background-offset: hsl(140,13%, 93%);
  --color-border: theme("colors.gray.900" / 10%);
}

[data-theme="dark"] {
  --color-primary: theme("colors.orange.400");
  --color-secondary: theme("colors.blue.400");
  --color-text: theme("colors.gray.50");
  --color-text-offset: theme("colors.gray.400");
  --color-background: theme("colors.gray.900");
  --color-background-offset: theme("colors.gray.800");
  --color-border: theme("colors.gray.50" / 10%);
}
