---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

const today = new Date();
---

<ContentSection title="En Résumé" id="core-informations">
  <Fragment slot="lead">
    À ce jour {today.toLocaleDateString('fr-FR')}, je suis <span class="text-primary"
      >disponible</span
    > au recrutement sous contrat freelance. Je recherche un <span
      class="text-primary">poste de Tech Lead</span
    > autour de l'écosystème <span class="text-primary">Angular</span>.
    Vous trouverez mes CV en anglais et français ainsi qu'un lien direct amenant à mon profil LinkedIn.
    <Icon name="ic:round-arrow-circle-down" class="h-8 mx-auto" />
  </Fragment>

  <div class="flex flex-wrap items-center justify-center gap-2">
    <a
      href="https://www.linkedin.com/in/alexandre-martinez31000"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
      target="_blank"
    >
      <Icon pack="mdi" name="linkedin" class="h-8" />
      <span>Profil LinkedIn</span>
    </a>
    <a
    class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
      href="/assets/docs/FR_Resume_Freelance_Angular_Tech_Lead_Fullstack_Developer_MARTINEZ_Alexandre.pdf"
      download="CV FR Freelance Angular Tech Lead Développeur Fullstack MARTINEZ Alexandre"
    >
      <Icon pack="mdi" name="file-document" class="h-8" />
      <span>Télécharger le CV</span>
    </a>
    <a
    class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
      href="/assets/docs/EN_Resume_Freelance_Angular_Tech_Lead_Fullstack_Developer_MARTINEZ_Alexandre.pdf"
      download="EN Resume Freelance Angular Tech Lead Fullstack Developer MARTINEZ Alexandre"
    >
      <Icon pack="mdi" name="file-document" class="h-8" />
      <span>Download Resume</span>
    </a>
  </div>
</ContentSection>
