---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Clients" id="clients">
  <Fragment slot="lead">
    Clients grand compte, méthodes agiles, SCRUM, <span class="text-primary"
      >SAFe</span
    >, projets "from scratch", <span class="text-primary"
      >autonomie complète</span
    >, petites et grandes équipes .. J'ai eu la chance de pouvoir expérimenter
    de nombreuses configurations de travail auprès de divers clients.
  </Fragment>
  <div class="max-w-6xl">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </div>
</ContentSection>
